* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.menu {
    background-color: #110202;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.logo-container {
    width: 150px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-container img {
    max-width: 100%;
    border-radius: 50%;
}

.confirmation {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmation h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.confirmation p {
    margin-bottom: 10px;
}

.confirmation strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: stretch;
    }

    .menu a {
        margin: 10px 0;
    }
}
nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: navy;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

nav ul li a:hover {
    border-bottom: 2px solid #0a80e1bf;
}
